<div class="container mt-3">

  <h2>{{user.userName}} Profile's</h2>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-img">
          <img src="{{user.photoUrls}}"alt="{{user.knowsAs}}" class="card-img-wrapper img-thumbnail">
        </div>
        <div class="card-body">
          <div class="row  row-head">
            Location:
          </div>
          <div class="row">
            {{user.city}} , {{user.country}}
          </div>
          <hr>
          <div class="row row-head">
            Age:
          </div>
          <div class="row">
            {{user.age}}
          </div>
          <hr>
          <div class="row  row-head">
            Last Active :
          </div>
          <div class="row">
            {{user.lastActive | timeago}}
          </div>
          <hr>
          <div class="row  row-head">
            Member Since :
          </div>
          <div class="row">
            {{user.created | date}}
          </div>
          
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100" (click)="SendLikes()">Like</button>
            <button class="btn btn-success w-100" (click)="SelectTab(3)">Message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset" #MemberTabs>
          <tab heading="About {{user.knowsAs}}">
            <h4>Description</h4>
            <p>{{user.introduction}}</p>
            <h4>Looking for</h4>
            <p>{{user.lookingFor}}</p>
          </tab>
          <tab heading="Interest">
            <h4>Interest</h4>
            <p>{{user.interests}}</p>
          </tab>
          <tab heading="Photos">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
          </tab>
          <tab heading="Message">
            <h4>Message</h4>
            <app-Member-Message [recipientId]="user.id"></app-Member-Message>
          </tab>
        </tabset>
      </div>
    </div>
  </div>

</div>