<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Datting App</a>

  
  <ul *ngIf="LoggedIn()" class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Matches <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Lists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Messages</a>
    </li>
  </ul>

  <div *ngIf="LoggedIn()" class="dropdown" dropdown>
    <a class="dropdown-toggle text-light"  dropdownToggle>Welcome {{authService.decodedToken.unique_name | titlecase}} </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *dropdownMenu>
      <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Edit profile</a>
      <a class="dropdown-item" href="#"  (click)="LoggedOut()"><i class="fa fa-sign-out"></i> Logout</a>
    </div>
  </div>

  <form *ngIf="!LoggedIn()" #LoginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="Login()">
    <input class="form-control mr-sm-2" type="text" placeholder="User Name" name="UserName" aria-label="User Name" required [(ngModel)]="model.UserName">
    <input class="form-control mr-sm-2" type="password" placeholder="Password" name="Password" aria-label="Password" required [(ngModel)]="model.Password">
    <button [disabled]="!LoginForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
  </form>

  </div>
</nav>